src/main/resources/service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.springwsTest.com/xml/school" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.springwsTest.com/xml/school" targetNamespace="http://www.springwsTest.com/xml/school">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.springwsTest.com/xml/school">

    <xs:complexType name="Student">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="standard" type="xs:int"/>
            <xs:element name="address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GetStudentByNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetStudentByNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Student" type="tns:Student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetStudentsRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetStudentsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="JsonString" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentsResponse">
    <wsdl:part element="tns:GetStudentsResponse" name="GetStudentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetStudentByNameResponse">
    <wsdl:part element="tns:GetStudentByNameResponse" name="GetStudentByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetStudentsRequest">
    <wsdl:part element="tns:GetStudentsRequest" name="GetStudentsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetStudentByNameRequest">
    <wsdl:part element="tns:GetStudentByNameRequest" name="GetStudentByNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StudentPort">
    <wsdl:operation name="GetStudents">
      <wsdl:input message="tns:GetStudentsRequest" name="GetStudentsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetStudentsResponse" name="GetStudentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentByName">
      <wsdl:input message="tns:GetStudentByNameRequest" name="GetStudentByNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetStudentByNameResponse" name="GetStudentByNameResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentPortSoap11" type="tns:StudentPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetStudentsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetStudentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetStudentByNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetStudentByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentPortService">
    <wsdl:port binding="tns:StudentPortSoap11" name="StudentPortSoap11">
      <soap:address location="http://localhost:8080/webService/studentInfo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>